### Imports

In [1]:
import pandas as pd
import numpy as np
import csv

### Repositories

In [24]:
    url_resultado = 'repositorios.csv'
    resultado = pd.read_csv(url_resultado)
    resultado.head()

,id,full_name,language,stargazers_count,forks_count,watchers_count,created_at,html_url
0,858127,pandas-dev/pandas,Python,11490,4501,11490,2010-08-24 01:37:33,https://github.com/pandas-dev/pandas
1,4164482,django/django,Python,29294,12345,29294,2012-04-28 02:47:18,https://github.com/django/django
2,843222,scikit-learn/scikit-learn,Python,22528,11917,22528,2010-08-17 09:43:38,https://github.com/scikit-learn/scikit-learn
3,51117837,tensorflow/models,Python,22968,10849,22968,2016-02-05 01:15:20,https://github.com/tensorflow/models
4,596892,pallets/flask,Python,30701,9689,30701,2010-04-06 11:11:59,https://github.com/pallets/flask

### Reading the file

In [20]:
url = 'pandas-master/RESULTADO.json'
df = pd.read_json(url).transpose()

### Sorting and showing the data

In [21]:
df.sort_values(by=['except-block'], ascending=False, inplace=True)
#df['except_blocks_size']
df.head()

,except-block,except_blocks_size,exception_tuples_size,generic-except,raise,re-raise,statements,try,try_block_size,tuple-exception
pandas/core/tools/datetimes-to_datetime,9,"[1, 1, 2, 2, 3, 1, 1, 1, 1]",[2],2,11,2,62,7,"[1, 11, 1, 1, 2, 1, 1]",1
pandas/core/indexes/multi-get_value,9,"[7, 1, 1, 2, 1, 6, 1, 1, 1]",[],2,4,2,21,5,"[1, 1, 1, 1, 1]",0
pandas/core/indexes/base-__new__,6,"[1, 2, 1, 1, 1, 1]","[2, 2]",0,1,1,51,6,"[12, 1, 1, 1, 1, 1]",2
pandas/core/base-_aggregate_multiple_funcs,6,"[1, 1, 1, 0, 1, 3]","[2, 2]",0,3,2,17,3,"[2, 1, 1]",2
pandas/core/indexes/base-get_value,6,"[1, 6, 1, 2, 1, 2]",[2],0,5,2,15,3,"[1, 1, 1]",1